@media screen and (max-width: 768px){
    header{
        min-height: 100px;
        max-width: 1000px;
        margin: 0 auto;
    }

    .section1{
        height: 500px;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: center;        
    }

    .section1 .inforContato h1{
        font-size: 40px;
    }

    .section1 .inforContato h2{
        font-size: 25px;
    }

    .section1 .inforContato p{
        font-size: 15px;
    }

    .img_atendimento{
        display: flex;
        justify-content: center;
    }

    .img_atendimento img{
        width: 300px;
    }

    .card_servicos{
        height: 150px;
        max-width: 1000px;
        margin: 0 auto;
    }

    .card_principal{
        display: flex;
        justify-content: center;
        width: 300px;
        

    }

    .img_servicos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70px;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    .img_servicos img{
        width: 70px;
        height: 50px;

    }

    .img_servicos b{
        font-size: 10px;
    }

    .section2{
        max-width: 1000px;
        margin: 0 auto;
    }

    .section2 .inforJanela h1{
        font-size: 20px;
    }

    .inforJanela p{
        font-size: 20px;
        text-align: center;
        margin: 0 10px 0 10px;
        
    }

    .section3{
        max-width: 1000px;
        margin: 0 auto;
        
    }

    .texto_img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-bottom: 5px;
        padding: 30px;
        
    }

    .texto_img img{
        display: flex;
        justify-content: center;
        width: 150px;
        
    }

    .texto_img p{
        font-size: 25px;
        text-align: center;
        margin: 0;
    }

    .section4{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .texto_teste p{
        font-size: 20px;
        text-align: center;
        
        
    }

    .video_teste{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1000px;
       
        
    }

    .video_teste iframe{
        width: 300px;
        height: 200px;
        margin: 0;
        margin-bottom: 10px;
    }

    .section5{
        max-width: 1000px;
        margin: 0 auto;
        height: auto;
        flex-direction: column;
    }

    .rodape_contato{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .rodape_contato h4{
        font-size: 25px;
        
        
        
    }

    .rodape_contato p{
        font-size: 20px;
    }

    .rodape_contato img{
        margin: 0;
        width: 150px;
    }

    .section6{
        max-width: 1000px;
        margin: 0 auto;
        height: 600px;

        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   .dralum p{
    font-size: 20px;
    margin-bottom: 10px;
    
   }

   .rodape{
        width: 100%;
        height: auto;

   }

   .rodape img{
     width: 50px;
     height: 30px;
   }

   .rodape a{
    font-size: 15px;

   }

 
}