*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: black;
    height: 130px;
    width: 100%;

}

,sectio{
    padding: 20px;
}

.img_logo{
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
    
}

.img_logo img{
    width: 150px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

ul li a img{
    width: 50px;
    margin-top: 5px;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: url(assets/img_header/principal_img.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    

    
}

.inforContato{
    text-align: center;
       
}

.inforContato h1{
    color: white;
    font-size: 80px;
    border-bottom: 2px solid white;
}

.inforContato h2{
    color: white;
    font-size: 40px;
}

.inforContato p{
    color: yellow;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_atendimento img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.card_servicos{
    background-color: gray;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.card_principal{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}


.img_servicos{
    background-color: #595A5A;
    width: 150px;
    height: 200px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    border-radius: 20px;
    
}

.img_servicos img{
    width: 150px;
    height: 100px;
    margin-bottom: 30px;
}

.img_servicos:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    transition: 2s all;

}

.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.inforJanela{
    margin: 20px;
    

}


.img_Janela h1{
    font-size: 40px;
    
    
}

.inforJanela p{
    margin-top: 20px;
    font-size: 20px;
    max-width: 1000px;
}

.inforJanela h1{
    margin-top: 20px;
    font-size: 40px;
}

.section3{
    height: auto;
    flex-direction: column;
    
}

.texto_img{
    background-color: gray;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
     
    
}


.texto_img p{
    margin-left: 20px;
    color: white;
    font-size: 30px;
    line-height: 30px;

}

.texto_img span{
    font-size: 20px;
    

}

.section4{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.texto_teste p{
    font-size: 40px;

}

.texto_teste img{
    margin-bottom: 20px;
}
.video_teste{
    display: flex;
    justify-content: center;
}

.video_teste iframe{
    box-shadow: 10px 10px 20px black;
    margin-left: 50px;
}

.section5{
    width: 100%;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

.rodape_contato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.rodape_contato h4{
    font-size: 30px;
    color: white;
    
    
}

.rodape_contato p{
    font-size: 20px;
    color: white;
    
    
}



.section5 img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.section6{
    width: 100%;
    height: 190px;
    background-color: #062839;
    display: flex;
    justify-content: space-around;
    
    
}


.section6 p{
    color: yellow;
    margin-top: 15px;
    font-size: 20px;
    
}

.section6 iframe{
    width: 100%;
    height: 115px;

}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.rodape img{
    height: 30px;
    width: 50px;
    margin: 10px;
}

.rodape a{
    color: #186aad;
    text-decoration: none;
}



